<html ng-app="ArielApp">
<head>
    <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="ArielCtrl">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input type="text" ng-model="query" ng-keypress="keyboardevent($event)">
      <button ng-click="updateworkerlist()">Search</button>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="workers">
        <li ng-repeat="worker in Workers">
          <p>First name: {{worker.first_name}}  Last name: {{worker.last_name}} Email:  {{worker.email_address}}   Manager: {{worker.manager_email_address}} </p>
        </li>
      </ul>

    </div>
  </div>
</div>
</body>
</html>